img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.nome-produto {
  font-size: 45px;
  color: var(--blue);
}

.preco-monitor {
  color: var(--orange);
  font-size: 32px;
  font-weight: bold;
}

label {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
}

input {
  width: 45px;
  box-sizing: border-box;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

p {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
}

.viabilidade-produto {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
}
