.titulo {
  color: var(--gray);
  font-size: 30px;
}

.endereco{
  color: var(--gray);
  font-size: 14px;
}

.valid {
  border-color: green;
}

.invalid{
  border-color: red;
}

.alert-message{
  color: var(--blue);
  font-size: 14px;
}

.error-message{
  color: red;
  font-size: 14px;
}
