<footer class="container-fluid footer">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <section class="text-center">
        <h2 class="footer__title fw-bold fs-4 text-primary">Sobre</h2>
        <p class="footer__about-text fs-6 w-75 mx-auto">
          O Lorem Ipsum é um texto modelo da indústria tipográfica e de
          impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por
          estas indústrias desde o ano de 1500, quando uma misturou os
          caracteres de um texto para criar um espécime de livro.
        </p>
      </section>
    </div>
    <div class="col">
      <address class="text-center">
        <h2 class="footer__title fw-bold fs-4 text-primary">Contato</h2>
        <ul class="list-unstyled">
          <li class="fs-5">
            <ion-icon name="mail-outline"></ion-icon>
            email&#64;email.com
          </li>
          <li class="fs-5">
            <ion-icon name="call-outline"></ion-icon>
            (00) 0 0000-0000
          </li>
          <li class="fs-5">
            <ion-icon name="logo-whatsapp"></ion-icon>
            (00) 0 0000-0000
          </li>
        </ul>
      </address>
    </div>
  </div>
  <section class="footer__copyright text-center p-3">
    &copy;Todos os direitos reservados
  </section>
</footer>
