/* You can add global styles to this file, and also import other style files */
:root {
  --blue: rgba(0,0,255);
  --orange: #ff7000;
  --dark-blue: #004a76;
  --gray: rgba(88,89,91,1);
  --light-gray: rgba(232,232,232,1);
  --light-gray-2: rgb(247,247,247);
}

